*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
}
.content{
    margin: 0 auto;
    width: 100%;
}
body{
    background-color: #fff;
}
main{
    
    margin: 0 auto;
    background-image: url("img/banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1080px;
    height: 100dvh;
}
main .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav ul li img{
    width: 30px;
    height: auto;
    object-fit: contain;
}